{
  "plugins": [
  "typecheck", "syntax-flow", "transform-flow-strip-types",
  "transform-es2015-modules-commonjs", "transform-es2015-destructuring",
  "syntax-object-rest-spread", "transform-es2015-spread", "babel-plugin-transform-es2015-parameters"]
}